*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;

}
h2
{
    position: relative;
    font-size: 5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    
}
@keyframes animate
{
    0%
    {
        color:#0e3742;
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;

    }
}